extends base.pug

block content
  script= "var hp = "+user.hp + ";var dmg = "+ user.dmg+";var hp2 = "+opponent.hp + ";var dmg2 = "+ opponent.dmg
  h3 #{user.name} vs #{opponent.name}
  script(src="/js/duel.js")
  #arena
    #user.player
      .hpbar
        #userHealth.health
      .name=user.name
      .xp=user.xp
      img.classimage(src="/images/"+user.pic+".jpg")
      #gear
        .item#helmet
          - var imgsrc = "/assets/" + items[user.gear.helmet].src
          img(src=imgsrc)
        .item#chest
          - var imgsrc = "/assets/" + items[user.gear.chest].src
          img(src=imgsrc)
        .item#gloves
          - var imgsrc = "/assets/" + items[user.gear.gloves].src
          img(src=imgsrc)
        .item#weapon
          - var imgsrc = "/assets/" + items[user.gear.weapon].src
          img(src=imgsrc)
        .item#legs
          - var imgsrc = "/assets/" + items[user.gear.legs].src
          img(src=imgsrc)
    #opponent.player
      .hpbar
        #opponentHealth.health
      .name=opponent.name
      .xp=opponent.xp
      img.classimage(src="/images/"+opponent.pic+".jpg")

      #gear
        .item#helmet
          - var imgsrc = "/assets/" + items[opponent.gear.helmet].src
          img(src=imgsrc)
        .item#chest
          - var imgsrc = "/assets/" + items[opponent.gear.chest].src
          img(src=imgsrc)
        .item#gloves
          - var imgsrc = "/assets/" + items[opponent.gear.gloves].src
          img(src=imgsrc)
        .item#weapon
          - var imgsrc = "/assets/" + items[opponent.gear.weapon].src
          img(src=imgsrc)
        .item#legs
          - var imgsrc = "/assets/" + items[opponent.gear.legs].src
          img(src=imgsrc)
