extends base.pug

block content
  h3 #{user.name} vs #{opponent.name}
  #arena
    #user.player
      .hpbar
        .health
      .name=user.name
      img.classimage(src="/images/"+user.levelClass()+".jpg")
      #gear
        .item#helmet
          - var imgsrc = "/assets/" + items[user.gear.helmet].src
          img(src=imgsrc)
        .item#chest
          - var imgsrc = "/assets/" + items[user.gear.chest].src
          img(src=imgsrc)
        .item#gloves
          - var imgsrc = "/assets/" + items[user.gear.gloves].src
          img(src=imgsrc)
        .item#weapon
          - var imgsrc = "/assets/" + items[user.gear.weapon].src
          img(src=imgsrc)
        .item#legs
          - var imgsrc = "/assets/" + items[user.gear.legs].src
          img(src=imgsrc)
    #opponent.player
      .hpbar
        .health
      .name=opponent.name
      img.classimage(src="/images/"+opponent.levelClass()+".jpg")

      #gear
        .item#helmet
          - var imgsrc = "/assets/" + items[opponent.gear.helmet].src
          img(src=imgsrc)
        .item#chest
          - var imgsrc = "/assets/" + items[opponent.gear.chest].src
          img(src=imgsrc)
        .item#gloves
          - var imgsrc = "/assets/" + items[opponent.gear.gloves].src
          img(src=imgsrc)
        .item#weapon
          - var imgsrc = "/assets/" + items[opponent.gear.weapon].src
          img(src=imgsrc)
        .item#legs
          - var imgsrc = "/assets/" + items[opponent.gear.legs].src
          img(src=imgsrc)
