extends base.pug

block content
  .row
    .six.columns
      h3 Players
      table.u-full-width
        thead
          tr
            th Name
            th Level
            th XP
        tbody
          each user in users
            tr
              td=user.name
              td=user.level()
              td=user.xp
    .six.columns
      h3 New Task
      form#newTaskForm
        .row
          label Task Name
          input.u-full-width(type='text', name='name')
        .row
          .six.columns
            label Number of hours
            input.u-full-width(type='number', name='hours')
          .six.columns
            label Priority
            span.priority-level
              input(type='radio', value='0' name='priority')
              span Low
            span.priority-level
              input(type='radio', value='1' name='priority' checked='checked')
              span Normal
            span.priority-level
              input(type='radio', value='2' name='priority')
              span High
        .row
          input.u-full-width.button-primary(type='submit')
  .row
    h3 Tasks
    table.u-full-width
      thead
        tr
          th Task name
          th Status
          th XP value
          th
      tbody
        each task in tasks
          tr
            td=task.name
            td=task.status()
            td=task.xp
            td(task_id=task._id).taskDelete
              i.fa.fa-times
  .row
    h3 Recomendations
    if avaliable.length == 0
        p You currently have no avalible tasks, this might mean idle time for your employees. Always consider keeping a couple tasks avaliable at all time. 
    if users.length > avaliable.length
        p You currently have very few avaliable tasks for your employees. Maybe consider splitting up bigger tasks into smaller ones in order to promote group work.
    if users.length * 3 < avaliable.length
        p You currently have more than three avaliable tasks for each employee. Tasks that are too small or too fragmented are not very efficient try to combine some of them, having multiple people working at a small problem might be inneficient. 

