extends base.pug

block content
  .row
    .six.columns.user-stats
      .four.columns
        img(src='images/peasant.jpg')
        - var pprogress = "width:" + String(user.xp % 100) + "%";
        #xp-progress
          .xp-current-progress(style=pprogress)
          .xp-progress-text #{user.xp % 100} / 100xp

      .eight.columns
        h3=user.name
          span.level=user.level()
        #stats
          .stat
            img(src='/assets/Item__40.png')
            span=user.gold
          .stat
            img(src='/assets/Item__05.png')
            span=user.dmg()
          .stat
            img(src='/assets/Item__25.png')
            span=user.hp()
    .six.columns
      table.u-full-width
        thead
          tr
            th Name
            th Level
        tbody
          tr
            td Siokhan
            td 3
          tr
            td Pedro Santos de Mendonca
            td 2

  .row.tasklists
    .four.columns.tasklist
      .tasktitle Available
      ul.tasks(list_name="available")
        each task in tasks.available
          li(task_id=task._id)
            span.task_name=task.name
            span.task_reward=task.xp
    .four.columns.tasklist
      .tasktitle Current
      ul.tasks(list_name="current")
        each task in tasks.current
          li(task_id=task._id)
            span.task_name=task.name
            span.task_reward=task.xp
    .four.columns.tasklist
      .tasktitle Finished
      ul.tasks.tasks-finished(list_name="finished")
        each task in tasks.done
          li(task_id=task._id)
            span.task_name=task.name
            span.task_reward=task.xp

