extends base.pug

block content
  .row
    .six.columns.user-stats
      .four.columns
        - var image_loc = "/images/" + user.levelClass() + ".jpg";
        img(src=image_loc)
        - var pprogress = "width:" + String(user.xp % 100) + "%";
        #xp-progress
          .xp-current-progress(style=pprogress)
          .xp-progress-text #{user.xp % 100} / 100xp

      .eight.columns
        h3=user.name
          span.level=user.level()
        .row
          #stats
            .stat
              img(src='/assets/Item__40.png')
              span=user.gold
            .stat
              img(src='/assets/Item__05.png')
              span=user.dmg()
            .stat
              img(src='/assets/Item__25.png')
              span=user.hp()
        .row#gear
          .item#helmet
            - var imgsrc = "/assets/" + items[user.gear.helmet].src
            img(src=imgsrc)
            if items[user.gear.helmet].cost != 0
                .upgrade-button(item="helmet")=items[user.gear.helmet].cost
            else
                .upgrade-button Max
          .item#chest
            - var imgsrc = "/assets/" + items[user.gear.chest].src
            img(src=imgsrc)
            if items[user.gear.chest].cost != 0
                .upgrade-button(item="chest")=items[user.gear.chest].cost
            else
                .upgrade-button Max
          .item#gloves
            - var imgsrc = "/assets/" + items[user.gear.gloves].src
            img(src=imgsrc)
            if items[user.gear.gloves].cost != 0
                .upgrade-button(item="gloves")=items[user.gear.gloves].cost
            else
                .upgrade-button Max
          .item#weapon
            - var imgsrc = "/assets/" + items[user.gear.weapon].src
            img(src=imgsrc)
            if items[user.gear.weapon].cost != 0
                .upgrade-button(item="weapon")=items[user.gear.weapon].cost
            else
                .upgrade-button Max
          .item#legs
            - var imgsrc = "/assets/" + items[user.gear.legs].src
            img(src=imgsrc)
            if items[user.gear.legs].cost != 0
                .upgrade-button(item="legs")=items[user.gear.legs].cost
            else
                .upgrade-button Max
        .row
          #quote-container
            #quote(levelClass=user.levelClass())
    .six.columns
      table.u-full-width
        thead
          tr
            th Name
            th Level
        tbody
          tr
            td Siokhan
            td 3
          tr
            td Pedro Santos de Mendonca
            td 2

  .row.tasklists
    .four.columns.tasklist
      .tasktitle Available
      ul.tasks(list_name="available")
        each task in tasks.available
          li(task_id=task._id)
            span.task_name=task.name
            span.task_reward=task.xp
    .four.columns.tasklist
      .tasktitle Current
      ul.tasks(list_name="current")
        each task in tasks.current
          li(task_id=task._id)
            span.task_name=task.name
            span.task_reward=task.xp
    .four.columns.tasklist
      .tasktitle Finished
      ul.tasks.tasks-finished(list_name="finished")
        each task in tasks.done
          li(task_id=task._id)
            span.task_name=task.name
            span.task_reward=task.xp

